body {
  background-color: #444;
  scroll-behavior: smooth;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}

/* ----- navbar  ----- */

nav {
  background-color: #555;
  position: fixed;
  width: 100%;
  top: 0;
  height: 100px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
  z-index: 10;
  transition: background-color 0.3s ease;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 24px;
  height: 100%;
  gap: 80px;
}

.pokdex-logo img {
  height: 80px;
}

#about-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.overlay {
  background-color: #555;
  border-radius: 12px;
  padding: 20px;
  max-width: 600px;
  width: 90%;
  height: 500px;
  overflow-y: auto;
  text-align: center;
}



.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
  display: flex !important;
  justify-content: flex-end;
}

.material-symbols-outlined:hover {
  cursor: pointer;
  color: #FFD700;
}

/* --------------- search input ------------------------------ */

form {
  display: flex;
  align-items: center;
  gap: 10px;
}

#search-input {
  padding: 10px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  outline: none;
  background-color: #333;
  color: white;
}

form button {
  background-color: #FFD700;
  color: #222;
  padding: 10px 16px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease;
}

form button:hover {
  background-color: #FFA500;
}

/* --------------------------- Load more Buttons --------------------------- */

.loadmore-ctn {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 40px auto;
  flex-wrap: wrap;
}

.loadmore-ctn button {
  background: linear-gradient(135deg, #FFD700, #FFA500);
  /* Gold zu Orange */
  color: #222;
  border: none;
  padding: 14px 28px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 12px;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.loadmore-ctn button:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.loadmore-ctn button:active {
  transform: scale(0.98);
}

/* --------------------------- Footer --------------------------- */

.footer-content {
  background-color: #555;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 15px;
  gap: 10px;
  color: white;
  font-size: 14px;
  padding: 20px;
}

/* --------------------TABS--------------- */

.tabs {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.tab-btn {
  padding: 5px 12px;
  cursor: pointer;
  border: none;
  background: #FFD700;
  border-radius: 6px;
}

.tab-btn.active {
  background: hsl(51, 100%, 35%);
  color: white;
}

.tab-content {
  display: none;
  margin-top: 15px;
}

.tab-content.active {
  display: block;
}

.tab-content p {
  display: flex;
  justify-content: center;
  text-align: left;
  margin: 0;
  padding: 8px;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}