#pokemon-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: 20px;
    margin: 20px;
    margin-top: 125px;
    list-style-type: none;
}


.pokemon-item {
  border-radius: 16px;
  padding: 16px;
  text-align: center;
  color: white;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  transition: transform 0.2s ease;
}

.pokemon-item:hover {
  transform: scale(1.03);
}

.pokemon-item h2 {
  text-transform: capitalize;
}
